version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bankdb
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/bankdb?schema=public
      PORT: 4000
    ports:
      - '4000:4000'
    command: sh -c "npx prisma migrate deploy && node dist/index.js"

volumes:
  pgdata:
